.conteiner {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: gainsboro;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 300px;
}


.buttons {
    color: black;
}

.button {
    display: flex;
    gap: 5px;
}

p {
    margin: 2px;
}

.button-1 {
    background-color: rgb(175, 175, 175);
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 1px;
    text-decoration: none;
    color: black;
    padding: 1px 5px 1px 5px;
}

.button-2 {
    text-decoration: none;
    background-color: rgb(175, 175, 175);
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    color: black;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
    column-gap: 2px;
}

.card {
    background-color: rgb(169, 224, 224);
    display: flex;
    gap: 5px;
    padding: 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    line-height: 1em;
}

.footer {
    margin-top: 30px;
}


